:root {
  --main-nav-color: #070707;
  --main-header-color: #3e3e3e;
  --section-title-background: black;
  --heading-text-color: white;
  --text-color: #f0f0f0;
  --section-content-background: rgba(255, 255, 255, 0.15);
}

body {
    /*background-image: linear-gradient(to right, rgba(255, 0, 0, 0.9) , rgba(0, 235, 255, 0.9));*/
    background: linear-gradient(rgba(26, 26, 26, 0.6), rgba(168, 0, 0, 0.2)), url("../img/ovrseer_website_background2.png");
    /*background: url("../img/ovrseer_website_background.png");*/
    
}

.section-title {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    max-width: 1500px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.section-content {
    background-color: var(--section-content-background);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-width: 1px;
    color: var(--text-color);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 90%;
    max-width: 1500px;
}

.section-content-transparent {
    color: var(--text-color);
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 90%;
    max-width: 1500px;
}

.content-text {
    text-align: justify;
    font-size: 13px;
    margin-right: 10px;
    margin-left: 10px;
}

.heading {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.info-card {
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  max-width: 300px;
  color: white;
  background-color: var(--section-content-background);
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  height: 100%;
}

.info-card:hover {
    border-color: #ff4d4d;
    background-color: rgba(255, 0, 0, 0.2);
}

.info-card-img-width {
    width: 70px;
}

.nav-bar {
    background-color: var(--main-nav-color);
    color: var(--text-color);
}

header {
    margin-top: 50px;
    text-align: center;
    height: 450px;
    color: white;
    line-height: 300px;

}

header h2 {
    font-size: 50px;
    font-family: sans-serif;
    color: var(--text-color);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    height: 100px;
    transition: 0.3s;
    cursor: context-menu;
}

header h2:hover {
    color: #c30000;
    transition: 0.3s;
    cursor: context-menu;
}


.nav-button {
    text-decoration: none;
}

.nav-button:hover {
    font-weight: bold;
    color: var(--heading-text-color);
}

#nav-title {
    text-decoration: none;
}

.fa {
    color: black;
}

.column {
  margin-bottom: 10px;
  padding: 0 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gallery-image {
    max-width: 600px;
    width: 45%;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
}

.gallery-image:hover {
    opacity: 0.75;
}

@media screen and (max-width: 650px) {   
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    header {
        line-height: 100px;
    }
    .img-header {
    margin: auto;
    }
    
    
.gallery-image {
        width: 90%;
    }
    
}

.member-card {
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  max-width: 500px;
  color: white;
  background-color: var(--section-content-background);
  text-align: center;
  border-radius: 10px;
  height: 100%;
}

.member-card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.);
}

.team-member-img {
    border-style: solid;
    border-color: var(--text-color);
    border-width: 2px;
    max-width: 300px;
    margin: 10px;
    width: 75%;
    
}

.team-member-img:hover {
    border-color: #ff4d4d;
    box-shadow: 0px 2px 8px 0px #ff0000;  
}

.section-about {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.img-about-section {
    padding: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 60px;
    border-top-left-radius: 160px;
    max-width: 400px;


}

footer {
    margin-top: 20px;
    height: 50px;
    background-color: var(--main-nav-color);
    width: 100%;
    color: white;
}

.img-header {
    animation: HeaderOVRseerAnimation 3s linear infinite;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
    
}

@keyframes HeaderOVRseerAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.fa {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 5px;
}

.fa:hover {
    color: white;
    transition: 0.2s;
    
}
