:root {
  --main-nav-color: #1d1d1d;
  --main-header-color: #3e3e3e;
  --section-title-background: black;
}

body {
    /*background-image: linear-gradient(to right, rgba(255, 0, 0, 0.9) , rgba(0, 235, 255, 0.9));*/

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 0, 0, 0.25)), url("/website-content/img/ovrseer_website_backgroundxcf.png");
    
}

.section-title {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    width: 90%;
    max-width: 1500px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

.section-content {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-width: 1px;
    color: #292929;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 90%;
    max-width: 1500px;
}


.nav-bar {
    background-color: var(--main-nav-color);
    color: white;
}

header {
    text-align: center;
    line-height: 400px;
    height: 400px;
    color: white;
    margin-bottom: 20px;
}

.nav-button {
    text-decoration: none;
}

.nav-button:hover {
    font-weight: bold;
}

#nav-title {
    text-decoration: none;
}

.fa {
    color: black;
}

.column {
  margin-bottom: 10px;
  padding: 0 8px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 650px) {   
    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

.goals-card {
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  max-width: 400px;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  border-radius: 10px;
}

.member-card {
  margin: auto;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
  max-width: 450px;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
  border-radius: 10px;
}

.member-card:hover {
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.);
}

.team-member-img {
    border-style: solid;
    border-color: #60ffff;
    box-shadow: 0px 2px 8px 0px cyan;
    max-width: 300px;
    margin: 10px;
    
}

.section-about {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.img-about-section {
    padding: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 60px;
    border-top-left-radius: 160px;
    max-width: 400px;

}

/*
.container-member-info::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
*/